<div class="box">
    <div class="links">
        <%= link_to 'NEW', root_path %>
        <%= link_to 'INDEX', questionnaires_path %>
    </div>
    <div class="content">
        <%= render 'info' %>
    </div>
</div>
